@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Notable&family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Gajraj+One&family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Gajraj+One&family=Ojuju:wght@200..800&display=swap');


$f-1: Montserrat, sans-serif;
$f-2: Ojuju, sans-serif;
$f-3: Big Shoulders Text; 
$f-4: Gajraj One;
$f-5: Bodoni Moda; 
$f-6: Notable;
$f-7: Cutive Mono;


$primary: #fcffff;
$secondary: #f39434;
$tertiary: #e95551;
$quaternary: #5b3055;


@mixin header {
    width: 100vw;
    min-height: 16vh;
    margin: 0;
    background-color: $quaternary;
    border: 2px solid $tertiary;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

    .logo {
        padding-top: 0.5rem;
        padding-left: 2rem;
        padding-bottom: 1.5rem;
        font-family: $f-3;
        font-size: 4rem;
        letter-spacing: 0.2em;

        h3 {
            color: $secondary;
        }

        h4 {
            font-family: $f-3;
            font-size: 1.6rem;
            letter-spacing: 1rem;
            color: $secondary
        }
    }
}

@mixin nav {
    width: 100vw;
    font-family: $f-1;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    }

     a {
        padding-left: 1.8rem;
        color: $primary;
        text-decoration: none;
    }

    a:hover {
        color: $tertiary;
    }

    a:active {
        color: $secondary;
    }
}

@mixin main {
    padding-top: 2rem;
    font-family: $f-1;
    background-color: $quaternary;

    .hero {
        padding-left: 4rem;
        padding-bottom: 4rem;
        margin-bottom: 4rem;

    }

    h3 {
        padding-bottom: 2rem;
        color: $quaternary;
    }

    p {
        width: 60vw;
        padding-bottom: 3rem;
        font-weight: 500;
        line-height: 180%;
    }

    button a {
        font-size: 1.6rem;
        font-weight: 600;
        color: $primary;
        text-decoration: none;
    }

    
}

@mixin about {
    width: 100vw;
    min-height: 240vh;
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 4rem;
    background-color: $primary;

    h3 {
        padding-bottom: 1rem;
        color: $quaternary;
    }

    h4 {
        padding-bottom: 1.4rem;
        color: $quaternary;
    }

    p {
        width: 80vw;
        padding-bottom: 3rem;
        font-weight: 500;
        line-height: 180%;
        color: $quaternary;
    }

    img {
        padding-bottom: 1rem;
    }

    a {
        color: $secondary;
        text-decoration: none;
    }

    a:hover {
        color: $tertiary;
    }

    a:active {
        color: $tertiary;
    }

}

@mixin skills {
    width: 100vw;
    min-height: 220vh;
    padding-top: 0.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 4rem;

    h3 {
        padding-bottom: 1rem;
    }

    h4 {
        padding-bottom: 1.4rem;
    }

    p {
        width: 80vw;
        padding-bottom: 3rem;
        font-weight: 500;
        line-height: 180%;
        color: $secondary;
    }

    img {
        padding-bottom: 1rem;
    }

}



button {
    width: 60%;
    padding: 0.5em;
    background-color: $primary;
    font-weight: 700;
    color: $quaternary;
    border-style: none;
    border-radius: 5px;
}


input {
    padding: 0.5em;
    margin-right: 1em;
    border-radius: 5px;
}


@mixin footer {
    width: 100vw;
    min-height: 10vh;
    background-color: $quaternary;
    font-family: $f-1;
    font-size: 1.2rem;
    font-weight: 400;
    color: $primary;

    .footContainer {
        margin-left: 8rem;

        .fa-brands {
            margin: 1.5rem;
            font-size: 2rem;
        }

        .fa-brands:hover {
            scale: 200%;
        }
    }

    p { 
        margin-left: 12rem;
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: $secondary;
    background-color: $quaternary;
}

header {
    @include header;
    background-color: $quaternary;
}

nav {
    @include nav;
}

main {
    @include main;
}

.aboutMe {
    @include about;
}

.skills {
    @include skills;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.contact {
    width: 100vw;
    min-height: 80vh;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
    margin-bottom: 4rem;
    font-weight: 500;
    line-height: 180%;
    background-color: $primary;

    label {
        color: $quaternary;
    }

    h3 {
        padding-bottom: 1.2rem;
        color: $quaternary;
    }

    .nameBox {
        margin-bottom: 1em;
        width: 40vw;
        border-radius: 5px;
    }
    
    .mailBox {
        width: 90vw;
        border-radius: 5px;
    }
    
    textarea {
        margin: 0.2em;
    }

    .b1 {
        background-color: $quaternary;
        color: $primary;
        font-weight: 800;
    }
}




footer {
    @include footer;
}

.footContainer {
    display: flex;
    flex-direction: row;
}
    
@media screen and (min-width:769px) {

    body {
        width: 50vw;
    }

    .aboutMe, 
    .skills {
        display: flex;
        flex-direction: row;
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        width: 50vw;
    }
}