@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=Notable&family=Ojuju:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Gajraj+One&family=Ojuju:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Gajraj+One&family=Ojuju:wght@200..800&display=swap");
button {
  width: 60%;
  padding: 0.5em;
  background-color: #fcffff;
  font-weight: 700;
  color: #5b3055;
  border-style: none;
  border-radius: 5px;
}

input {
  padding: 0.5em;
  margin-right: 1em;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #f39434;
  background-color: #5b3055;
}

header {
  width: 100vw;
  min-height: 16vh;
  margin: 0.2em;
  background-color: #5b3055;
  border: 2px solid #e95551;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #5b3055;
}
header .logo {
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-bottom: 1.5rem;
  font-family: Big Shoulders Text;
  font-size: 4rem;
  letter-spacing: 0.2em;
}
header .logo h3 {
  color: #f39434;
}
header .logo h4 {
  font-family: Big Shoulders Text;
  font-size: 1.6rem;
  letter-spacing: 1rem;
  color: #f39434;
}

nav {
  width: 100vw;
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
nav a {
  padding-left: 1.8rem;
  color: #fcffff;
  text-decoration: none;
}
nav a:hover {
  color: #e95551;
}
nav a:active {
  color: #f39434;
}

main {
  padding-top: 2rem;
  font-family: Montserrat, sans-serif;
  background-color: #5b3055;
}
main .hero {
  padding-left: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
}
main h2 {
  padding-bottom: 2rem;
  font-family: Big Shoulders Text;
  color: #f39434;
}
main p {
  width: 60vw;
  padding-bottom: 3rem;
  font-weight: 500;
  line-height: 180%;
}
main p .s-1:hover {
  font-family: Big Shoulders Text;
  font-size: 3.5rem;
  color: #fcffff;
}
main p .s-2:hover {
  font-family: Gajraj One;
  font-size: 3.5rem;
  color: #e95551;
}
main p .s-3:hover {
  font-family: Bodoni Moda;
  font-size: 3.5rem;
}
main p .s-4:hover {
  font-family: Cutive Mono;
  font-size: 3.5rem;
  color: #fcffff;
}
main button a {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fcffff;
  text-decoration: none;
}

.aboutMe {
  width: 100vw;
  min-height: 240vh;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 4rem;
  background-color: #fcffff;
}
.aboutMe h3 {
  padding-bottom: 1rem;
  color: #5b3055;
}
.aboutMe h4 {
  padding-bottom: 1.4rem;
  color: #5b3055;
}
.aboutMe p {
  width: 80vw;
  padding-bottom: 3rem;
  font-weight: 500;
  line-height: 180%;
  color: #5b3055;
}
.aboutMe img {
  padding-bottom: 1rem;
}
.aboutMe a {
  color: #f39434;
  text-decoration: none;
}
.aboutMe a:hover {
  color: #e95551;
}
.aboutMe a:active {
  color: #e95551;
}

.skills {
  width: 100vw;
  min-height: 220vh;
  padding-top: 0.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 4rem;
}
.skills h3 {
  padding-bottom: 1rem;
  color: #f39434;
}
.skills h4 {
  padding-bottom: 1.4rem;
}
.skills p {
  width: 80vw;
  padding-bottom: 3rem;
  font-weight: 500;
  line-height: 180%;
  color: #f39434;
}
.skills img {
  padding-bottom: 1rem;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
  width: 80vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.contact {
  width: 100vw;
  min-height: 80vh;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-left: 2rem;
  margin-bottom: 4rem;
  font-weight: 500;
  line-height: 180%;
  background-color: #fcffff;
}
.contact label {
  color: #5b3055;
}
.contact h3 {
  padding-bottom: 1.2rem;
  color: #5b3055;
}
.contact .nameBox {
  margin-bottom: 1em;
  width: 40vw;
  border-radius: 5px;
}
.contact .mailBox {
  width: 90vw;
  border-radius: 5px;
}
.contact textarea {
  margin: 0.2em;
}
.contact .b1 {
  background-color: #5b3055;
  color: #fcffff;
  font-weight: 800;
}

footer {
  width: 100vw;
  min-height: 10vh;
  background-color: #5b3055;
  font-family: Montserrat, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fcffff;
}
footer .footContainer {
  margin-left: 8rem;
}
footer .footContainer .fa-brands {
  margin: 1.5rem;
  font-size: 3rem;
}
footer p {
  margin-left: 12rem;
}

.footContainer {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 769px) {
  header {
    margin: 0.4em;
  }
  .aboutMe .flexContainer {
    display: flex;
    flex-direction: row;
  }
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6 {
    width: 60vw;
    display: block;
  }
  .nameBox {
    max-width: 20vw;
  }
  .mailBox {
    max-width: 40vw;
  }
  button {
    max-width: 20rem;
  }
  .footContainer {
    align-self: center;
  }
}/*# sourceMappingURL=main.css.map */