@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Notable&family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Gajraj+One&family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Gajraj+One&family=Ojuju:wght@200..800&display=swap');


$f-1: Verdana, sans-serif;
$f-2: Montserrat, sans-serif;
$f-3: Ojuju, sans-serif;
$f-4: Big Shoulders Text; 
$f-5: Gajraj One;
$f-6: Bodoni Moda; 
$f-7: Notable;
$f-8: Cutive Mono;


$primary: #bad4aa;
$secondary: #f9dc5c;
$tertiary: #ff2c55;
$quaternary: #2e3440;
$quinary: #fffff7;



@mixin header {
    width: 100vw;
    height: 6vh;
    background-color: $primary;

    .logo {
        padding-top: 2em;
        padding-left: 1rem;
        padding-bottom: 0.2rem;
        font-family: $f-1;
        font-size: 1.2rem;
        color: #fff;
    }
}

@mixin nav {
    width: 100vw;
    height: 4vh;
    margin-top: 1rem;
    background-color: #fff;
    font-family: $f-2;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
    }

     a {
        color: $septenary;
        text-decoration: none;
    }
}
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #bad4aa;
}

header {
    @include header;
}

nav {
    @include nav;
}




/*{font-family: $logo;
    font-size: 4rem;
    color: #191325;
    position: relative;
    display: inline-block;
    text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; &:after { 
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: linear-gradient(315deg, #78e56c, #127ac9);
        mix-blend-mode: darken;
    }
}
*/


.footContainer {
    display: flex;
    flex-direction: row;
}
    
    