@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=Notable&family=Ojuju:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Gajraj+One&family=Ojuju:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Gajraj+One&family=Ojuju:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #fffff7;
}

header {
  width: 100vw;
  height: 14vh;
  margin: 0.4rem;
  background-color: #e3edb4;
  border: 2px solid #ff2c55;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
header .logo {
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  font-family: Big Shoulders Text;
  font-size: 4rem;
  letter-spacing: 0.2em;
  color: transparent;
  -webkit-text-stroke: 1.5px #ff2c55;
}
header .logo h4 {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  letter-spacing: 1rem;
  color: #ff2c55;
  -webkit-text-stroke: none;
}

nav {
  width: 100vw;
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
nav a {
  padding-left: 1.8rem;
  color: #2e3440;
  text-decoration: none;
}
nav a:hover {
  color: #ff2c55;
}

main {
  padding-top: 4rem;
  font-family: Montserrat, sans-serif;
}
main .hero {
  padding-left: 2rem;
}
main a {
  font-size: 1.6rem;
  color: #fffff7;
  text-decoration: none;
}

.box {
  width: 20rem;
  height: 4rem;
  margin-left: 0.4rem;
  background-color: #f9dc5c;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.box h3 {
  color: #fffff7;
}

.picBox1 {
  width: 100vw;
  height: 30vh;
  margin: 0;
  background-color: #f9dc5c;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url("../images/marzahn.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.picBox2 {
  width: 100vw;
  height: 30vh;
  margin: 0;
  background-color: #f9dc5c;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url("../images/skeletonwork.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.picBox3 {
  width: 100vw;
  height: 30vh;
  margin: 0;
  background-color: #f9dc5c;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url("../images/webstuff.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*{font-family: $logo;
    font-size: 4rem;
    color: #191325;
    position: relative;
    display: inline-block;
    text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; &:after { 
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: linear-gradient(315deg, #78e56c, #127ac9);
        mix-blend-mode: darken;
    }
}
*/
.footContainer {
  display: flex;
  flex-direction: row;
}/*# sourceMappingURL=main.css.map */